header#topbanner{
background-color: #373737;
height: 80px;
width: 100%;
color: white;

}
span.title{
	text-align: right;
	font-size: 30px;
	padding: 10px;
	float: right;
	font-family: Cambria;
	color: white;
}
nav#categories{
background-color: #555555;
color: #C4C4C4;
padding: 10px;
width: auto;
height: auto;
margin-top: -65px;
margin-left: 10px;
text-decoration: none;
font-size: 16spx;
visibility: visible;
position: absolute;
border-radius: 10px;
word-spacing: 15px;
border: 1px solid white;
font-family: Cambria;

}
a{
	color: #C4C4C4;
	text-decoration: none;
}
a:hover{
	color: white;
}
section.highlights{

}
article.body{
background-color: #ECECEC;	
}
p.content{
	margin-top: 10px;
	padding: 15px;
	background-color: #FEFEFE;
	font-family: Cambria;
	font-size: 18px;
	flex: 1;
	margin: 4px;
}
section.discoveries{
	display: flex;
}
section.more{
	margin-top: 10px;
	padding: 15px;
	background-color: #FEFEFE;
	font-family: Cambria;
	font-size: 18px;
	margin: 4px;
}
img{
	width: 280px;
	height: 280px;
	border-radius: 140px;
}
span.firstchild{
	font-size: 30px;
}
footer{
	background-color: #101010;
	height: 120px;
	width: 100%;
}